body, html {
    font-family: sans-serif;
    color: white;
    min-height: 200vh;
    margin: 0;
    background-image: url(./kastAssets/background.jpg);
    background-attachment: relative;
}
.container {
    display: table;
    grid-column-start: 1px;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}