body, html {
    font-family: sans-serif;
    color: white;
    min-height: 200vh;
    margin: 0;
    background: 
    linear-gradient(-90deg, 
        rgba(12, 50, 107, 0.767), 
        rgb(13, 13, 105), 
        rgba(65, 17, 70, 0.959))
}

#headerContainer {
    float: left;
}

h2 {
    float: left;
    font-size: 25px;
    font-stretch: ultra-expanded;
}

img:first-child {
    float: right;
    padding: 50px;
}

img:nth-of-type(2) {}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    float: right;
}
li {
    display: inline;
    padding: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.text {
    font-weight: normal;
    width: 50vw;
}