body, html {
    font-family: 'Roboto', sans-serif;
    color: white;
    min-height: 200vh;
    margin: 0;
    background-image: url(./kastAssets/background.jpg);
    background-position: relative;
}

#navbar {
    display: flex;
    flex-direction: row
}
.nav-item {
    margin: 10px 20px;
}
#logo {
    display: flex;
    justify-content: left;
}
.h2 {
    
}
.openKast {
    border: 1px solid;
    border-radius: 3px;
    background: transparent;
    color: white;
    display: inline-block;
    width: 104px;
    height: 27px;
    margin: 4px 2px;
    text-decoration: solid;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
}
.openKastAgain {
    background-color: rgb(254, 144, 0);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(254, 144, 0);
    border-radius: 2px;
    color: white;
    margin: 10px 5px;
    padding: 0px 16px;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
}
#laptop {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.gridMain {
    
}
.text {
    margin-right: 200px;
    margin-left: 200px;
}